.nine {
  width: 88%;
  margin: 0 auto;
}
.addPro {
  font-size: 48px;
  margin-top: 60px;
  width: 100%;
  float: left;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

form {
  width: 100%;
  float: left;
}
