.eight {
  width: 90%;
  margin: 0 auto;
  // background-color: pink;
}
.ban {
  height: 100vh;
}

.events_box {
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
}

.add_new {
  margin-left: 30px;
  top: -8px;
}
