.prop {
  font-size: 48px;
  margin-top: 60px;
  width: 100%;
  float: left;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}
.eight {
  width: 90%;
  margin: 0 auto;
}
.ban {
  height: 100vh;
}
.search-box {
  width: 260px;
}
.export {
  background-color: orange;
  float: right;
  top: -30px;
}

.table {
  margin: 0 auto;
}
